<div class="rm-damage-buttons">
    <button data-action="rm-apply-damage" data-multiplier="-1" title="{{ localize "rm.chat.buttons.healing" }}">
        <i class="fa-solid fa-heart"></i>
    </button>
    <button data-action="rm-apply-temp" data-multiplier="1" title="{{ localize "rm.chat.buttons.healingTemp" }}">
        <i class="fa-solid fa-hourglass-half"></i>
    </button>
    <button class="rm-wide" data-action="rm-apply-damage" data-multiplier="2" title="{{ localize "rm.chat.buttons.damageDouble" }}">
        <i class="fas fa-burst"></i><i class="fa-solid fa-xmark"></i>2
    </button>
    <button class="rm-wide" data-action="rm-apply-damage" data-multiplier="0.25" title="{{ localize "rm.chat.buttons.damageQuarter" }}">
        <i class="fas fa-burst"></i><i class="fa-solid fa-xmark"></i>¼
    </button>
    <button class="rm-wide" data-action="rm-apply-damage" data-multiplier="0.5" title="{{ localize "rm.chat.buttons.damageHalf" }}">
        <i class="fas fa-burst"></i><i class="fa-solid fa-xmark"></i>½
    </button>
    <button class="rm-wide" data-action="rm-apply-damage" data-multiplier="1" title="{{ localize "rm.chat.buttons.damageFull" }}">
        <i class="fas fa-burst"></i><i class="fa-solid fa-xmark"></i>1
    </button>
    <div class="rm-indicator">
        <i class="fas fa-reply-all fa-flip-vertical"></i>
    </div>
</div>