<div>
    <div class="alwayshp-content">
        <div class="death-savingthrow fail" title="Death Saving Throw: Failure"><div></div><div></div><div></div></div>
        <div id="alwayshp-btn-dead" class="alwayshp-btn bad-ones" title="Set to Dead">
            <i class="fas fa-skull"></i>
        </div>
        <div id="alwayshp-btn-hurt" class="alwayshp-btn bad-ones" title="Hurt Character">
            <i class="fas fa-angle-double-down"></i>
        </div>
        <input id="alwayshp-hp" type="text" />
        <div id="alwayshp-btn-heal" class="alwayshp-btn good-ones" title="Heal Character">
            <i class="fas fa-angle-double-up"></i>
        </div>
        <div id="alwayshp-btn-fullheal" class="alwayshp-btn good-ones" title="Heal Fully">
            <i class="fas fa-heart"></i>
        </div>
        <div class="death-savingthrow save" title="Death Saving Throw: Success"><div></div><div></div><div></div></div>
    </div>
</div>
