<div>
    <div class="ahp-content">
        <div class="ahp-death-save fail" title="Death Saving Throw: Failure"><div></div><div></div><div></div></div>
        <div id="ahp-btn-dead" class="ahp-btn ahp-bad" title="Set to Dead">
            <i class="fas fa-skull"></i>
        </div>
        <div id="ahp-btn-hurt" class="ahp-btn ahp-bad" title="Hurt Character">
            <i class="fas fa-angle-double-down"></i>
        </div>
        <input id="ahp-hp" type="text" />
        <div id="ahp-btn-heal" class="ahp-btn ahp-good" title="Heal Character">
            <i class="fas fa-angle-double-up"></i>
        </div>
        <div id="ahp-btn-fullheal" class="ahp-btn ahp-good" title="Heal Fully">
            <i class="fas fa-heart"></i>
        </div>
        <div class="ahp-death-save save" title="Death Saving Throw: Success"><div></div><div></div><div></div></div>
    </div>
</div>
